@import 'tailwindcss';

@theme {
  /* Theme colors */
  --color-b02: #c2e6f0; /* 淺藍 light blue */
  --color-b03: #227d92; /* 深藍 teal blue */
  --color-y01: #f4cc34; /* 黃 yellow */
  --color-g01: #78bf30; /* 綠 green */
  --color-r01: #d62e29; /* 紅 red */
  --color-bg-cream: #fef6ec; /* 背景色 cream background */

  --breakpoint-xxs: 375px;
  --breakpoint-xs: 414px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1920px;
  --breakpoint-3xl: 2560px;
}
